@model AGAB.Models.Change

<h2>Edit update</h2>

<form method="post" action="/Changes/Edit/@Model.ChangeId">
    @Html.HttpMethodOverride(HttpVerbs.Put)

    <label>Content update</label>
    <br />
    <textarea name="Content">@Model.Content</textarea>
    <br />
    <button class="btn btn-success" type="submit">Edit update</button>
</form>
